.App {
    display: flex;
    justify-content: center;
}

.Picture {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.img {
    box-shadow: 10px 10px 5px rgb(88, 89, 90);
}


.AnswersContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    
    
    
}

.Answers {
    
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
    font-size: 30px;
    border: none;
    background-color: rgba(105, 117, 125, 0.795);
    color: rgba(14, 15, 14, 0.55);
    box-shadow: 10px 10px 5px rgb(88, 89, 90);
    
}

body {
    background-color: rgba(148, 145, 132, 0.427);
}

.Answers:hover {
    background-color: rgba(227, 201, 73, 0.427);
    border: none;
}


.Green {
    background-color: rgba(44, 163, 48, 0.76);
}

.Green:hover {
    background-color: rgba(44, 163, 48, 0.76);
}

.Red {
    background-color: rgba(193, 5, 5, 0.628);
}

.Red:hover {
    background-color: rgba(193, 5, 5, 0.628);
}

.Score {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.ScoreText {
    font-size: 50px;
}